body, html {
    background: #FFFFFF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    background: #3B5998;
}

.navbar-brand {
    font-size: 20px;
    color: white;
    /* text-shadow: mediumspringgreen 0px 0px 1px,   mediumspringgreen 0px 0px 1px,   mediumspringgreen 0px 0px 1px,
    mediumspringgreen 0px 0px 1px,   mediumspringgreen 0px 0px 1px,   mediumspringgreen 0px 0px 1px; */
}

.navbar-brand:hover {
    color: #ffeeba;
}

.underline-nav {
    border-bottom: 3px solid white;
}

.nav-link {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-link:hover {
    color: #ffeeba;
}

.searchBtn {
    border: 1px solid white;
    background: black;
    color: white;
}

.searchBtn:hover {
    background: mediumspringgreen;
    color: black;
    border: 1px solid mediumspringgreen;
}

.navbar-brand, .nav-link, .searchBtn, .alert, .card, .skills-title, .js-skill, .mm-title, .contact-card {
    font-family: 'PT Sans Narrow', sans-serif;
}

.project-card {
    background: linear-gradient(to left, #E6E6E6, white,#E6E6E6);
    border: 1px solid #F7F7F7;
    padding-right: 1em;
    padding-left: 1em;
    background: white;
    box-shadow: 0 10px 10px -5px #3B5998;
    background: ghostwhite;
    border-radius: 30px;
}

#first-row-links {
    margin: 0 1em 1.5em 1em;
}

#second-row-links {
    margin: 0 1em 0 1em;
}

.brackets {
    color: mediumspringgreen;
}

.alert {
    color: black;
}

.hamburgerBtn {
    background: white;
    opacity: 0.2;
}

.sectionTitle {
    font-size: 20px;
    color: #3B5998;
}

#navbar-icon {
    color: white;
    margin-left: 3px;
}

#nav-toggler-icon {
    color: white;
    font-size: 25px;
}

#title-icon {
    font-size: 28px;
    color: #3B5998;
}

.title-icon-div {
    margin-top: 10px;
}

.search-form {
    display: none;
}

#progress1 {
    margin-top: 10px;
    background: transparent;
}

.skill-set {
    margin: 10px 1em 10px 1em;
}

.code-icon {
    font-size: 20px;
}

.alert-box {
    margin: 4em 0 0 0;
    background: linear-gradient(45deg, fuchsia, #CC0034);
    color: black;
    border-radius: 0;
    background: ghostwhite;
    /* font-family: 'Open Sans Condensed', sans-serif; */
}

.alert-box1 {
    background: linear-gradient(45deg,#CC0034, fuchsia);
    color: #DFE3EE;
    border-radius: 30px;
    margin: 0;
    background: #3B5998;
    border: 1px solid #3B5998;
    padding: 0 20px 0 20px;
}

.click-here {
    /* color: #38FFF1; */
    color: #3B5998;
}

.progress-bar {
    background: linear-gradient(to right, black, black, black, #E6E6E6);
    background: #8B9DC3;
    color: #DFE3EE;
}

.col-spacer-skills {
    padding: 1em 1em 1em 1em;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #3B5998;
}

.row1 {
    background: white;
    margin: 1.5em 2em 1.5em 2em;
    /* border-radius: 10px; */
}

.skills-title {
    font-size: 30px;
    text-align: left;
    color: #3B5998;
    padding-top: 5px;
    margin-left: 0.5em;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.stars {
    color: #ffeeba;
}

.mm-title {
    margin: 30px 1em 30px 1em;
    padding: 1em 2em 1em 2em;
    color: ghostwhite;
    font-size: 32px;
    border-radius: 10px;
    /* background: linear-gradient(45deg, red, blue); */
    background: #8B9DC3;
    background: #3B5998;
    -webkit-box-shadow: 10px 10px 22px -2px rgba(66,66,65,0.77);
    -moz-box-shadow: 10px 10px 22px -2px rgba(66,66,65,0.77);
    box-shadow: 10px 10px 22px -2px rgba(66,66,65,0.77);
}

.row2 {
    margin: 1.5em 0 0 0;
    background: white;
}

.mm-click-instruct {
    font-size: 20px;
}

.col-spacer-row2 {
    /* background: linear-gradient(45deg, red, blue); */
    background-repeat: repeat;
    background-size: 250px;
    border-radius: 10px;
}


.row3 {
    padding: 2em 2em 2em 2em;
    background: ghostwhite;
    opacity: 0.9;
}

.preview-img {
    border-radius: 10px;
    opacity: 1;
}

.row4 {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    background: #8B9DC3;
}

.city {
    font-size: 20px;
}

.weather {
    font-size: 20px;
}

.example-text {
    padding: 10px 0 0 0;
}

#social-icon {
    color: #DFE3EE;
    padding: 0 5px 0 5px;
    font-size: 20px;
}

#social-icon-contact {
    color: #8B9DC3;
    padding: 0 5px 0 5px;
    font-size: 20px;
}

.contact-row {
    /* padding: 1.5em 1em 1.5em 1em; */
    font-size: 20px;
    margin: 2em 0 1.5em;
}

.contact-card {
    background: white;
    /* border-radius: 10px; */
    /* border: 1px solid #F7F7F7; */
    box-shadow: 0 0 40px #3B5998;
}

.contact-title, .contact-card-property, .footer-box, .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
}

.contact-form {
    color: dodgerblue;
}

.c-paragraph {
    margin-top: 20px;
}

.footer-box {
    background: #3B5998;
    color: #8B9DC3;
    border-radius: 0;
    padding: 0;
    margin-bottom: 10px;
}

.footer-row {
    /* margin: 0 0 2em 0; */
    margin: 0;
}

.blogs {
    color: ghostwhite;
}


/* #weather-icon {
    margin-left: 10px;
} */

@media (min-width: 300px) { 
    .project-cats {
        padding-left: 20px;
        color: #3B5998;
        font-size: 10px;
    }

    .projects-all {
        font-size: 10px;
    }

    .alert-box {
        margin-top: 3.4em;
    }

    #social-icon {
        padding: 0;
        margin: 0;
    }
    
    .ig {
        padding-left: 10px;
    }

    /* .footer-row {
        margin: 0 0 3.7em 0;
    } */

    .city, .weather {
        font-size: 18px;
    }

    .mm-title {
        font-size: 20px;
    }
    .contact-row {
        margin-bottom: 1.5em;
    }

    .alert {
        /* margin-bottom: 30px; */
    }

    .icon {
        padding-left: 6px !important;
    }
}

@media (min-width: 400px) { 
    .alert-box {
        margin-top: 3.5em;
    }

    #social-icon {
        padding: 0 0 0 10px;
    }

    /* .footer-row {
        margin: 0 0 3.5em 0;
    } */

    .mm-title {
        font-size: 30px;
    }
    .contact-row {
        margin: 1.5em 0 1.5em 0;
    }
    .icon {
        padding-left: 20px !important;
    }

    .project-cats {
        padding-left: 20px;
        color: #3B5998;
        font-size: 16px;
    }

    .projects-all {
        font-size: 16px;
    }
}



/* projects page */
#row-title {
    padding-top: 5.5em;
    background: linear-gradient(white,white, #DFE3EE);
}

.page-title {
    margin-bottom: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #8B9DC3;
}

/* #hr {
    margin-top: 5px;
} */

.projects-categories {
    display: inline;
    list-style-type: none;
}

.project-cats {
    padding-left: 20px;
    color: #3B5998;
}

.all {
    background: #3B5998;
    padding: 5px 15px;
    color: #DFE3EE;
    border-radius: 20px;
}

.stir {
    background: #3B5998;
    padding: 5px 9px;
    color: #DFE3EE;
    border-radius: 20px;
}

.flush {
    background: transparent;
    color: #3B5998;
}

.content {
    margin: 1em 0 1em 0;
}

.project-image {
    height: 420px;
    width: 100%;
}

.projects-card-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3B5998;
}

.pBody {
    font-family: sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
}

.projects-card {
    box-shadow: 0 0 10px #3B5998;
    border-radius: 20px;
}

.p-text {
    margin-bottom: 0;
}

#projects-body {
    background: #DFE3EE;
}

.spec-details, .tech {
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.tech {
    font-weight: bold;
}

.more-details {
    color: dodgerblue;
    margin-bottom: 0;
    font-family: sans-serif;
}




/* blogs page */
#title-row {
    padding-top: 5.5em;
}

@media (min-width: 300px){
    .blogs-cats {
        padding-left: 10px;
        color: #3B5998;
        margin-bottom: 5px;
    }
}

@media (min-width: 400px){
    .blogs-cats {
        padding: 10px;
        color: #3B5998;
        margin-bottom: 5px;
    }
}

